<%- include('./partials/header'); %>


    <body class="h-screen w-screen flex items-center justify-center bg-rose-500">

    <body class="h-screen w-screen flex items-center justify-center bg-yellow-500">


        <div class="relative h-full w-full flex flex-col items-center justify-center gap-5">
            <!-- Full-screen Image -->
             <div class="text-center">
                <h1 class="font-bold text-8xl my-5">Fary<span class="inline-block ml-2 text-zinc-200">Shop</span> </h1>

<h2 class="font-semibold text-2xl">India's last minute App</h2>
             </div>
            <!-- Button at the Bottom -->
            <div class="w-full flex justify-center mb-8">
                <a href="/auth/google"
                    class="bg-black text-white font-semibold py-3 px-6 rounded-lg hover:bg-black transition duration-300">
                    Continue with Google
                </a>
            </div>
        </div>

    </body>

    <%- include('./partials/footer'); %>